@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ==== Colors ==== */
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
    --icons-color:

    /* ==== Transition ==== */
    --tran-02: all 0.4s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #e3f0f1;
    --toggle-color: #DDD;
    --text-color: #707070;
    --icon-color: #FFF;
    --icons-color: #695CFE;
}
/* ==== Resuable CSS ====*/

.sidebar .text{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.close .text{
    opacity: 0;
}

/* ==== Sidebar ====*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 270px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    font-size: 12px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02)
}

.sidebar header{
    position: relative;

}

.sidebar .image-text img{
    width: 40px;
    border-radius: 23px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}


.sidebar.close header .toggle{
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle{
    color: var(--toggle-color);
}

.sidebar .menu{
    margin-top: 35px;
}

.sidebar li a{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color)
}

.sidebar li a:hover .icon,
.sidebar li a:hover .nav-text {
    color: var(--sidebar-color);
}

body.dark li a:hover .icon,
body.dark li a:hover .nav-text {
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto; /* Permite el scroll vertical */
}

/* Oculta la scrollbar en Chrome, Safari y Edge */
.sidebar .menu-bar::-webkit-scrollbar {
    display: none;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.menu-bar .mode img{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode img.sun{
    opacity: 0; 
}

body.dark .menu-bar .mode img.sun{
    opacity: 1;
}

body.dark .menu-bar .mode img.moon{
    opacity: 0;
}
.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;    
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 25px;
}

body.dark .sidebar li .icon {
    color: var(--text-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .nav-text {
    color: var(--sidebar-color);
}



/* -------------- */
.nav-link{
    margin: 2%;
} 

.nav-text{
    margin: 30%;
}

.section2{
    margin-top: 30%;
}

/* Tamaño uniforme para los iconos dentro de los enlaces de navegación */
.sidebar .nav-link .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;  /* Ajusta el tamaño según tus necesidades */
    height: 24px;
}

.sidebar .nav-link .icon img {
    width: 100%;
    height: 100%;
}

/* Asegúrate de que el contenedor del icono también sea consistente */
.sidebar .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;  /* Ajusta según sea necesario */
    height: 40px;
}

/* Opcional: ajusta el tamaño de los iconos en el modo oscuro */
body.dark .sidebar .icon img {
    width: 100%;
    height: 100%;
}

/* Tamaño uniforme para los iconos dentro de .bottom-content */
.bottom-content .moon-sun img {
    width: 24px;  /* Ajusta el tamaño según tus necesidades */
    height: 24px;
}

/* Asegúrate de que el contenedor del icono también sea consistente */
.bottom-content .moon-sun {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;  /* Ajusta según sea necesario */
    height: 40px;
}

/* Mostrar el botón del modo cuando la barra está cerrada */
.sidebar.close .bottom-content .mode {
    display: flex; /* Asegúrate de que el botón siga siendo visible */
}

/* Ocultar solo el icono del modo y el texto cuando la barra está cerrada */
.sidebar.close .bottom-content .mode .moon-sun img {
    display: none; /* Oculta el icono del modo */
}

.sidebar.close .bottom-content .mode .mode-text {
    display: none; /* Opcionalmente oculta el texto */
}

/* Barra de navegacion */
/* Estilos para la barra horizontal */
/* Estilo para la barra de navegación horizontal */
.topnav {
    position: fixed;
    top: 0;
    left: 270px; /* Ajuste automático basado en el estado de la barra lateral */
    width: calc(100% - 270px); /* Ajuste automático basado en el estado de la barra lateral */
    height: 90px;
    background-color: var(--sidebar-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    transition: var(--tran-05);
    z-index: 99;
}

.sidebar.close ~ .topnav {
    left: 88px; /* Ajustar basado en el ancho de la barra lateral cerrada */
    width: calc(100% - 88px); /* Ajustar basado en el ancho de la barra lateral cerrada */
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

/* input de buscar */
.search-container input {
    height: 35px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    width: 80%; /* Ajusta según sea necesario */
    transition: width 0.4s ease;
}

.search-container .search-btn,
.profile-container .bx-bell {
    background-color: var(--toggle-color);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Tamaño uniforme */
    height: 40px; /* Tamaño uniforme */
    margin-left: 5px;
    margin-right: 5px; /* Para asegurar un espacio consistente */
}

.search-container .search-btn i,
.profile-container .bx-bell {
    font-size: 20px; /* Tamaño uniforme para los iconos */
    color: #000000;
}

.search-container .search-btn {
    background-color: var(--toggle-color);
    border: none;
    padding: 10 10px;
    cursor: pointer;
    border-radius: 100px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}


.profile-container {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.profile-container i {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
}

.profile-container .profile {
    display: flex;
    align-items: center;
}

.profile-container .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 18px;
    border: #18191A 2px solid;
}

.profile-container .profile .profile-name {
    font-size: 16px;
    color: var(--text-color);
    margin: 10px;
}

/**/
.bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--sidebar-color); /* Ajusta según sea necesario */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 90px; /* Espacio debajo de la barra superior */
    margin-left: 270px;
    z-index: 99;
    transition: var(--tran-05);

}

.profile-details {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.profile-details img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    border: #18191A 2px solid;

}
.profile-details .greeting {
    font-size: 14px;
    color: #555555;
}
.profile-details .username {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}
.action-buttons {
    display: flex;
    align-items: center;
    margin-right: 33px;
}
.action-buttons .btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-buttons .btn:hover {
    background-color: var(--text-color);
}

/* Estilos para la sección de proyectos */
h2 {
    margin-top: 10px;
    margin-bottom: 12px;
    color: var(--text-color);
}
.titulo{
    margin-left: 250px;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 265px;
    color: var(--text-color);
    width: 70%;
    gap: 20px;
    justify-content: space-between;
    
}
.project{
    background-color: var(--sidebar-color);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px); /* Toma 50% del ancho menos el gap */
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho total */
    margin-bottom: 20px;
}

#your-projects {
    padding: 20px;
}

/**/
/* Contenedor principal con dos columnas: proyectos y anuncios/tendencias */
.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr; /* Ajusta el ancho de las columnas según tus necesidades */
}

/* Contenedor para los proyectos, con múltiples columnas si es necesario */
.contenedor {
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas para los proyectos */
    gap: 20px;
}

/* Contenedor para las secciones de anuncios y tendencias */
.contenedor-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre anuncios y tendencias */
    margin-right: 90px;
    color: var(--text-color);
}

.project, .project1 {
    background-color: var(--sidebar-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}
.project{
    box-shadow: -4px 0 7px -2px #695CFE;

}

/* P y H de anuncios*/
.project1 > p{
    margin-bottom: 25px;
    box-shadow: 0 4px 0px rgba(105, 92, 254, 0.3);
    font-size: 13px;
    padding-left: 15px; 
    margin-right: 15px;
}
.project1 > h4{
    font-size: 14px;
    padding-left: 15px;
    margin-right: 15px;
}

/*iconos de cada contenedor*/
.project .cont {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px; /* Espacio entre los iconos, puedes ajustarlo según prefieras */
}

.project .cont img {
    width: 24px;
    height: 24px;
    background-color: var(--toggle-color);
    border-radius: 50%;
}

/* Imagenes de la seccion de Anuncios (trading) */
#trending .project1 .project-item {
    display: flex;
    align-items: center;
    margin-bottom: 19px; /* Espacio entre cada proyecto */
    margin-left: 13px;
    margin-top: 19px;
}

#trending .project1 .project-item img {
    width: 60px;
    height: 60px;
    margin-right: 19px;
    border: #000000 2px solid; /* Espacio entre la imagen y el texto */
    border-radius: 50%;
}

/* Contenedor de texto (nombre de usuario y descripción) */
#trending .project1 .project-item .text-container {
    display: flex;
    flex-direction: column; /* Alinea el texto verticalmente */
}

#trending .project1 .project-item p {
    margin: 0; 
    box-shadow: 0 4px 0px rgba(105, 92, 254, 0.3);

}